.Task {
  color: inherit;
  margin-bottom: 10px;
  text-decoration: none;
}

.Task__name {
  display: inline-block;
  width: 25%;
}

.Task__name_button {
  background-color: #fff;
  border-color: #fff;
  border-style: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}

.Task__name_button:hover {
  color: #76ac26;
}

.Task__name_button:visited {
  color: #76ac26;
  margin-left: 15px;
}

.Task__deadline {
  color: #d3d3d3;
  display: inline-block;
  width: 25%;
}

.Task__deadline.is-due {
  color: #cc0000;
}

.Task__status {
  color: #76ac26;
  display: inline-block;
  text-align: right;
  width: 25%;
}

.Task__delete {
  align-items: flex-end;
  display: inline-block;
  text-align: right;
  width: 25%;
}

.Task__delete_button {
  background-color: #fff;
  border-color: #76ac26;
  border-style: solid;
  border-width: 1px;
  color: #76ac26;
  cursor: pointer;
  font-size: 1em;
}

.Task__delete_button:hover {
  background-color: #76ac26;
  border: thin #fff;
  color: #fff;
}
